{% extends "base_after.html" %}

{% block title %} - Dashboard{% endblock %}

{% block content %}
    <h3 class="page-header">Current activity</h3>
    {% if current_activity %}
        <img id="current-activity" class="img-activity img-responsive center-block" src="{{ current_activity[1] }}">
        <p id="current-timestamp" class="text-center">{{ current_activity[0] }}</p>
    {% else %}
        <img id="current-activity" class="img-activity img-responsive center-block"
             src="{{ url_for('static', filename='images/activities/not_detected.png') }}">
    {% endif %}

    <h3 class="page-header">Last activities</h3>
    <div class="row">
        {% for timestamp, image in last_activities %}
            <div class="col-md-2">
                <img id="last-activity-{{ i }}" class="img-activity img-responsive center-block" src="{{ image }}">
                <p id="last-timestamp-{{ i }}" class="text-center">{{ timestamp }}</p>
            </div>
        {% endfor %}

        {% for i in range(last_length, 6) %}
            <div class="col-md-2">
                <img id="last-activity-{{ i }}" class="img-activity img-responsive center-block"
                     src="{{ url_for('static', filename='images/activities/not_detected.png') }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}
