{% extends "base_after.html" %}

{% block title %} - Settings{% endblock %}

{% block content %}
    <form role="form" class="form-horizontal" data-toggle="validator" method="post">
        <h3 class="page-header">Classifier</h3>
        {# TODO: SETTINGS FLASK-WTF FORM #}
        <div class="col-md-3 radio">
            <label><input type="radio" name="classifier" checked>Artificial neural network</label>
        </div>
        {# TODO: END #}
        <div class="col-md-12">
            <button class="btn btn-primary pull-right" type="submit">Save</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/validator.min.js') }}"></script>
{% endblock %}
