{% extends "base.html" %}

{% block title %} - About{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h3 class="page-header">About</h3>
    {# TODO: ADD ABOUT TEMPLATE #}
    <div class="col-md-12">
        <img class="img-build img-responsive center-block" src="{{ url_for('static', filename='img/build.png') }}">
        <br>
        <p class="text-center"><strong>Be patient!</strong> The entire single team is building this site.</p>
    </div>
{% endblock %}
