{% extends "base.html" %}

{% block title %} - Profile{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h2 class="page-header">Profile</h2>
    <div class="col-md-2">
        <img class="img-avatar img-circle img-responsive" src="{{ avatar }}">
        <br>
    </div>
    <div class="col-md-10">
        <h3>Name: </h3>
        <h4>{{ user.name }}</h4>
        <h3>Username: </h3>
        <h4>{{ user.username }}</h4>
        <h3>E-mail: </h3>
        <h4>{{ user.email }}</h4>
        <div class="pull-right">
            <a class="btn btn-default" href="#">Edit profile</a>
            <a class="btn btn-danger" href="{{ url_for('sign_out') }}">Sign out</a>
        </div>
    </div>
{% endblock %}
