{% extends "base.html" %}

{% block title %} - Settings{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h3 class="page-header">Classifier</h3>
    <form class="form-horizontal" method="post">
        <div class="col-md-3 radio">
            <label><input type="radio" name="classifier" checked>Artificial neural network</label>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary pull-right" type="submit">Save</button>
        </div>
    </form>
{% endblock %}
